<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud 9 Grooming</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
    <!--I think accessiblity could be a par tof this site.. need to look that up and see if that is something that css does or html coding...the nameplace holders andn umber formats...is that css of html...will look into that today... the hyperlinking...need to review that--> 

<!--creating table, output, and notification data for Admin page-->


<ul>
<li id="header"><a href="admin">Customer</a></li>
<li id="header"><a href="/">Home</a></li>

</ul>
<!--This needs to be on another admin page that allows admin to view and send events....to customer input page once securely logged on-->
<div class="adminPg">
<h3>Customer Database</h3>
<br><!--blank space for table code-->
<table>
    <thead> <!-- Table Head -->
        <th>Customer Name</th> <!-- Table column -->
        <th>Phone Number</th>
    </thead>
    <tbody id="custDatabase"> <!-- Table Body -->
        <% locals.rows.forEach(function(rows){ %>
            <tr>
                <td><%=rows.fname%> <%=rows.lname%></td>
                <td><%=rows.phone%></td>
            </tr>
            <% }); %>
    </tbody>
</table>
</div>
</body>
</html>