<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud 9 Grooming</title>
</head>
<body>
    <header>
    <ul>
       <li id="header"><a href="admin.html">Admin</a></li>
       <li id="header"><a href="homepage.html">Home</a></li>
     </ul>
    </nav>  
    <br>
    <h2>Cloud Nine Grooming<h2>
    </header>
    <br>

    <!-- Form error/success messages -->
    <% if (locals.errors) { %>
    <ul id="alert">
        <% Object.values(errors).forEach(function(error){ %>
        <li><%= error.msg %></li>
        <% }); %>
    </ul>
    <% } else if (locals.success) { %>
    <ul id="success">
        <li><%= success %></li>
    </ul>
    <% } %>
    <!-- End messages -->

    <form method="POST" action="/register">
        <!--creates labels for customer name and number inputs-->
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" pattern="^[A-Za-z -']*$" maxlength="30"><br><br>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" pattern="^[A-Za-z -']*$" maxlength="45"><br>
        <p>
        <label for="phoneNum">Phone Number:</label>
        <!--phone number has three diff input feilds to give a easy display to understand-->
        <!--each id must be unique and the name has to match the id-->
        <!--the regex pattern only allows numbers-->
        (<input type="text" id="phoneNum1" name="phoneNum1" pattern="^[0-9]*$" size="1" minlength="3" maxlength="3">) 
        <input type="text" id="phoneNum2" name="phoneNum2" pattern="^[0-9]*$" size="1" minlength="3" maxlength="3"> -
        <input type="text" id="phoneNum3" name="phoneNum3" pattern="^[0-9]*$" size="2" minlength="3" maxlength="4">
        </p>
        <br>
        
        <!--creates buttons-->
        <button id="client--button">Get Coupon</button>
        </form>
    </body>
</html>