<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud 9 Grooming</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
<!--more text created on homepage-->


<ul>
  <li id="header"><a href="customer">Customer</a></li>
  <li id="header"><a href="password">Admin</a></li>


</ul>
<br>
<div class="home">
  <div class="landing">
    <h1 class="welcome">Welcome!</h1>
    <img src="https://i.imgur.com/6Q1IJ5u.png" alt="Cloud 9 Logo" class="logo">
  </div>
</div>
</body>
</html>