<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud 9 Grooming</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
<!--Added a container to make the site responsive-->
<div id="container">
<!--more text created on homepage-->
<ul class="headUl">
  <li class="headLi"><a href="customer">Customer</a></li>
  <li class="headLi"><a href="password">Admin</a></li>
  <% if (locals.loggedIn) { %>
  <li class="headLi logout"><a href="logout">Logout</a></li>
  <% } %>
</ul>
<br>
<div class="home">
  <div class="landing">
    <h1 class="welcome">Welcome!</h1>
    <img src="Cloud9%20Logo.png" alt="Cloud 9 Logo" class="logo">
    <p class="info">Thank you for choosing our business. Bring your pet to us and we will do the rest in doing our best in providing luxury grooming services. Visit our customer area for a coupon--and we hope to see you soon!</p> 
  </div>
</div>
</div>
</body>
</html>