<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please enter the password to view the Administrative page.</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
    <ul class="headUl">
        <li class="headLi"><a href="/">Home</a></li>
        <li class="headLi"><a href="customer">Customer</a></li>
        <% if (locals.loggedIn) { %>
        <li class="headLi logout"><a href="logout">Logout</a></li>
        <% } %>
    </ul>

    <br>
    <div class="custInput"><span>
            <h2>Please enter the password</h2>
            <!-- Form error/success messages -->
            <% if (locals.errors) { %>
            <ul id="error">
                <% locals.errors.forEach(function(error){ %>
                <li><%= error.msg %></li>
                <% }); %>
            </ul>
            <% } %>
            <!-- End form messages -->
            <form method="POST" action="/authenticate">
                <p><label for="password">Password: <input type="password" id="password" name="password" title="Please enter the password"></label></p>
                    <p><button class="button" id="client--button">Submit</button></p>
            </form>
        </span>
    </div>
</body>
</html>