<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="password.css">
    <title>Password</title>
</head>

<body>
<h1>Please enter your password to view the Administrative page.</h1>
<p>Password: <input type="password" id="passwordContainer"/></p>
<a href="admin" onclick="return checkPassword();">
Click here to submit Password
</a>
 <script src="password.js"></script>   
</body>
</html>